body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

@media (min-width: 319px) and (max-width:480px) {
  body {
    background-color: brown;
  }
}

@media (min-width: 481px) and (max-width:1200px) {
  body {
    background-color: rgb(65, 165, 42);
  }
}

@media (min-width: 1201px) and (max-width:1600px) {
  body {
    background-color: rgb(42, 79, 165);
  }
}

@media (min-width: 1601px) and (max-width:2200px){
  body {
    background-color: rgb(163, 165, 42);

  }
}

@media (min-width: 2201px){
  body {
    background-color: rgb(165, 42, 48);
    display: inline-block;
  }
.card{

  background-color: aqua;
  font-size: 30px;
 display: inline;
}
}