#klaiduZinutes {
  text-align: center;
  color: white;
    background-color: red;
    width: 412px;
padding: 0 20px;
  }


#sekmingasPrisijungimas {
  text-align: center;
  color: white;
    background-color: green;
    width: 412px;
padding: 0 20px;
  }

