<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/main.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('./nav-bar.ejs') %>
        <% if(!username){%>


            <h3>Prasome prisijungti.</h3>



            <%} else{ %>
                <h3>Sveiki atvyke, <%= username+'.' %>
                </h3>
                <%}%>
                <p class="red">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique eos tempora eius sunt nostrum maxime velit tempore, earum mollitia eveniet tenetur corporis laboriosam, expedita maiores excepturi alias iure quisquam quo doloribus iusto? Impedit magni minus non, minima quis consequatur, recusandae sunt labore dolor aliquam sequi dolores ad animi officiis. Est?</p>
                    <script src="public/index.js"></script>
</body>

</html>