@font-face {
  font-family: "circularstd";
  src: url("assets/fonts/circularstd-book-webfont.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "circularstd";
  src: url("assets/fonts/circularstd-bold-webfont.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "circularstd";
  src: url("assets/fonts/circularstd-black-webfont.woff") format("woff");
  font-weight: 800;
}

:root {
  --bs-border-radius: 3rem;
}

body {
  font-family: "circularstd";
}

nav.navbar {
  font-size: 14px;
}

header {
  padding: 2.25rem 0;
}

nav.navbar a {
  color: #19182575;
  text-decoration: none;
  font-weight: 600;
}

nav.navbar li.active a {
  color: #191825;
}

.btn {
  --bs-btn-padding-x: 2rem;
  --bs-btn-padding-y: 0.9rem;
  font-weight: 600;
}

.btn-primary {
  --bs-btn-bg: #5d50c6;
  --bs-btn-hover-bg: #6d4db3;
  border: none;
  font-weight: 600;
  font-size: 14px;
  color: #eeeeee;
  box-shadow: 0 15px 15px 0 rgba(28, 51, 176, 0.363);
}

.btn-shadow {
box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.097);
--bs-btn-color: #F85E9F;
font-size: 14px;
display: inline-flex;
gap: 10px;
align-items: center;
}

.btn-shadow::after {
  content: "";
  background: url(assets/icons/bag.svg);
  width: 24px;
  height: 24px;
  display: block;
}
.btn-outline-primary {
  border-color: #19182515;
  color: #191825b5;
  font-weight: 600;
  font-size: 14px;
  display: inline-flex;
  gap: 10px;
}

.btn-outline-primary::before {
  content: "";
  background: url(assets/icons/playarrow.svg);
  width: 24px;
  height: 24px;
  display: block;
}

.home h2 {
  font-size: 69px;
  font-weight: 600;
  line-height: 120%;
}

.home h2 span {
  font-size: 69px;
  font-weight: 600;
  line-height: 120%;
  color: #F85E9F;
}

.home p {
  font-family: Inter;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.347);
}

.companys {
  display: flex-;
  justify-content:space-between;
}