@font-face {
  font-family: "circularstd";
  src: url("assets/fonts/circularstd-book-webfont.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "circularstd";
  src: url("assets/fonts/circularstd-bold-webfont.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "circularstd";
  src: url("assets/fonts/circularstd-black-webfont.woff") format("woff");
  font-weight: 800;
}

:root {
  --bs-border-radius: 3rem;
}

body {
  font-family: "circularstd";
}

img {
  max-width: 100%;
}

nav.navbar {
  font-size: 14px;
}

header {
  padding: 2.25rem 0;
}

nav.navbar a {
  color: #19182575;
  text-decoration: none;
  font-weight: 600;
}

nav.navbar li.active a {
  color: #191825;
}

.btn {
  --bs-btn-padding-x: 2rem;
  --bs-btn-padding-y: 0.9rem;
  font-weight: 600;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.btn-primary {
  --bs-btn-bg: #5d50c6;
  --bs-btn-hover-bg: #6d4db3;
  border: none;
  font-weight: 600;
  font-size: 14px;
  color: #eeeeee;
  box-shadow: 0 15px 15px 0 rgba(28, 51, 176, 0.363);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-shadow {
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.097);
  --bs-btn-color: #f85e9f;
  font-size: 14px;
  display: inline-flex;
  gap: 10px;
  align-items: center;
}

.btn-shadow::after {
  content: "";
  background: url(assets/icons/bag.svg);
  width: 24px;
  height: 24px;
  display: block;
}
.btn-outline-primary {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0.5rem;
  --bs-btn-hover-color: #121010;
  --bs-btn-hover-bg: #eeeeee;
  --bs-btn-hover-border-color: #19182587;
  --bs-btn-color: #0e0e0faf;
  --bs-btn-border-color: #35383e2d;
}

.btn-outline-primary::before {
  content: "";
  background: url(assets/icons/playarrow.svg) no-repeat center center;
  width: 24px;
  height: 24px;
  display: block;
}

.home h2 {
  font-size: 69px;
  font-weight: 600;
  line-height: 120%;
}

.home h2 span {
  font-size: 69px;
  font-weight: 600;
  line-height: 120%;
  color: #f85e9f;
}

.home p {
  font-family: Inter;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.347);
}

.companys {
  display: flex-;
  justify-content: space-between;
}

.hamburger {
  border: none;
  width: 48px;
  height: 49px;
  background: url(assets/icons/hamburger.svg) no-repeat center center;
}

@media screen and (min-width: 992px) {
  nav.navbar {
    display: block;
  }
}

@media screen and (max-width: 992px) {
  nav.navbar {
    position: fixed;
    top: 0;
    left: -280px;
    font-size: 18px;
    background: white;
    padding: 1rem;
    z-index: 1000;
    height: 100vh;
    width: 280px;
    border-right: 1px solid rgb(60, 58, 58);
    transition: left 0.5s ease-in-out;
  }

  nav.navbar::after {
    content: "";
    position: fixed;
    top: 0;
    left: -100vw;
    background-color: rgba(0, 0, 0, 0.424);
    width: calc(100vw - 280px);
    height: 100vh;
    transition: left 0.5s ease-in-out;
  }

  input[name="nav-toggler"]:checked + nav {
    display: block;
    left: 0;
  }

  input[name="nav-toggler"]:checked + nav::after {
    left: 280px;
  }
}

@media screen and (max-width: 768px) {
section.home h2, section.home span {
  font-size: 40px;
}
}