@font-face {
  font-family: "circularstd";
  src: url("assets/fonts/circularstd-book-webfont.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "circularstd";
  src: url("assets/fonts/circularstd-bold-webfont.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "circularstd";
  src: url("assets/fonts/circularstd-black-webfont.woff") format("woff");
  font-weight: 800;
}

.bgimage {
  top: 241.5rem;
  opacity: .2;
  z-index: -1000;
  left: 1rem;
}

:root {
  --bs-border-radius: 3rem;
  --primary-color: #f85e9f;
}

body {
  font-family: "circularstd";
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav.navbar {
  font-size: 14px;
}

header {
  padding: 2.25rem 0;
}

nav.navbar a {
  color: #19182575;
  text-decoration: none;
  font-weight: 600;
}

nav.navbar li.active a {
  color: #191825;
}

section.home {
  position: relative;
}



section.home::before {
  content: "";
  background: url(assets/images/2orange.png) no-repeat center center;
  width: 65px;
  height: 170px;
  display: block;
  position: absolute;
  bottom: 0rem;
  left: 1rem;
}

.btn {
  --bs-btn-padding-x: 2rem;
  --bs-btn-padding-y: 0.9rem;
  font-weight: 600;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.btn-primary {
  --bs-btn-bg: #5d50c6;
  --bs-btn-hover-bg: #6d4db3;
  border: none;
  font-weight: 600;
  font-size: 14px;
  color: #eeeeee;
  box-shadow: 0 15px 15px 0 rgba(28, 51, 176, 0.363);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-shadow {
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.097);
  --bs-btn-color: var(--primary-color);
  font-size: 14px;
  display: inline-flex;
  gap: 10px;
  align-items: center;
}

.btn-shadow::after {
  content: "";
  background: url(assets/icons/bag.svg);
  width: 24px;
  height: 24px;
  display: block;
}
.btn-outline-primary {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0.5rem;
  --bs-btn-hover-color: #121010;
  --bs-btn-hover-bg: #eeeeee;
  --bs-btn-hover-border-color: #19182587;
  --bs-btn-color: #0e0e0faf;
  --bs-btn-border-color: #35383e2d;
}

.btn-outline-primary::before {
  content: "";
  background: url(assets/icons/playarrow.svg) no-repeat center center;
  width: 24px;
  height: 24px;
  display: block;
}

.home h2 {
  font-size: 69px;
  font-weight: 600;
  line-height: 120%;
}

.home h2 span {
  color: var(--primary-color);
}

.home p {
  font-family: Inter;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.347);
}

.companys {
  display: flex-;
  justify-content: space-between;
}

.hamburger {
  border: none;
  width: 48px;
  height: 49px;
  background: url(assets/icons/hamburger.svg) no-repeat center center;
}

.section-heading h3 {
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 5px;
}
.section-heading h2 {
  font-size: 44px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 120%;
  margin: 1rem 0 0;
}

.service {
  height: 100%;
  transition: all 0.5s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.service:hover {
  box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.1);
  border-color: white;
}

.service h3 {
  font-weight: 600;
  font-size: 28px;
}

.service p {
  font-family: Inter;
  color: #19182581;
  font-size: 18px;
}

.destination {
  background-color: white;
  box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.1);
}

.destination h3 {
  font-size: 23px;
  font-weight: bold;
}

.destination .price {
  font-size: 23px;
  font-weight: bold;
  color: var(--primary-color);
}

.destination .location {
  font-family: Inter;
  color: #191825b3;
  font-size: 18px;
  margin-top: 0.5rem;
}

.destination .rating {
  font-family: Inter;
  color: #ff5722;
  font-size: 23px;
  font-weight: bold;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.destination .rating::after {
  content: "";
  background: url(assets/icons/star1.svg) no-repeat center center;
  width: 24px;
  height: 24px;
  display: block;
  margin-top: -3px;
}

.arrows a {
  display: flex;
  width: 100px;
  height: 100px;
  border: 1px solid rgba(36, 35, 35, 0.1);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.arrows {
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.arrows svg {
  fill: #191825;
  transition: all 0.5s ease-in-out;
}

.arrows a:hover {
  background-color: #5d50c6;
  border-color: #5d50c6;
}

.arrows a:hover svg {
  fill: white;
}

.travel p {
  font-family: Inter;
  color: #1918259c;
  font-size: 18px;
  margin-top: 1.5rem 0 4rem;
}

.feature {
  border: 1px solid rgba(36, 35, 35, 0.1);
  text-align: center;
  border-radius: 25px;
  padding: 2rem 0;
}

.feature h3 {
  color: #ff5722;
  font-size: 35px;
  font-weight: bold;
  margin: 0 0 0.7rem;
}

.featur span {
  font-family: Inter;
  color: #191825;
  font-size: 18px;
}

.travel .image {
  background: url(assets/images/travelgirl.png) no-repeat center right / cover;
  height: 100%;
  position: relative;
}

.travel .image::before {
  content: "";
  background-color: #facd49;
  display: block;
  height: 565px;
  width: 1000%;
  position: absolute;
  top: 132px;
  left: -1000%;
}

footer {
  padding-bottom: 2rem;
  padding-top: 50rem;
}

footer p {
  color: #19182599;
  font-size: 23px;
  margin: 2rem 0 0;
}

footer .social ul {
  display: flex;
  gap: 1rem;
}

footer .social a {
  background-color: background-color #5d50c6;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .social a svg {
  fill: white;
}

footer .footer-links a,
footer .footer-links li {
  font-family: Inter;
  font-size: 18px;
  color: #1918259f;
  text-decoration: none;
}

footer .footer-links a:hover {
  text-decoration: underline;
}

footer .footer-links li {
  padding: 0.5rem 0;
}

footer h3 {
  font-weight: bold;
  font-size: 23px;
  font-family: Inter;
}

.schedule1::before {
  content: "";
  display: block;
  background: url(assets/icons/lokation.svg);
  height: 100px;
  width: 100px;
  border-radius: 25%;
}

.schedule2::before {
  content: "";
  display: block;
  background: url(assets/icons/scalendar.svg);
  height: 100px;
  width: 100px;
  border-radius: 25%;
}

.schedule3::before {
  content: "";
  display: block;
  background: url(assets/icons/pink.svg);
  height: 100px;
  width: 100px;
  border-radius: 25%;
}

.schedule h3 {
  font-size: 23px;
  font-weight: bold;
}

.schedule1 p,
.schedule2 p,
.schedule3 p,
.section-heading p {
  font-size: 18px;
  font-family: Inter;
  color: #1918257e;
}

.borderr {
  height: 100%;
  transition: all 0.5s ease-in-out;
  border: white;
}

.borderr:hover {
  box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.1);
  border-color: white;
}

.schedule1,
.schedule2,
.schedule3 {
  gap: 35px;
}

.key {
  margin-top: 7rem;
}

.shelf {
  margin-top: 6rem;
}

.vr {
  width: 128px;
  height: 128px;
  opacity: 1;
  border-radius: 50%;
}

.dots {
  width: 24px;
  height: 24px;
  background-color: rgba(192, 192, 192, 0.422);
  border-radius: 50px;
}

.dot {
  gap: 10px;
}

.name {
  color: #FF5722;
}

h5 {
  font-weight: 600;
}

.dots:hover {
  background-color: #F85E9F;
  transition: .5s ease-in-out;
}

.middle p {
  width: 570px;
}

.prepare h2 {
  margin: 0 10rem;
}

.purple {
  margin-top: 13rem;
  background-color:  rgba(252, 5, 252, 0.051);
}

.prepare {
  margin-top: 5rem;
}
@media screen and (min-width: 992px) {
  nav.navbar {
    display: block;
  }
}

@media screen and (max-width: 992px) {
  nav.navbar {
    position: fixed;
    top: 0;
    left: -280px;
    font-size: 18px;
    background: white;
    padding: 1rem;
    z-index: 1000;
    height: 100vh;
    width: 280px;
    border-right: 1px solid rgb(60, 58, 58);
    transition: left 0.5s ease-in-out;
  }

  nav.navbar::after {
    content: "";
    position: fixed;
    top: 0;
    left: -100vw;
    background-color: rgba(0, 0, 0, 0.424);
    width: calc(100vw - 280px);
    height: 100vh;
    transition: left 0.5s ease-in-out;
  }

  input[name="nav-toggler"]:checked + nav {
    display: block;
    left: 0;
  }

  input[name="nav-toggler"]:checked + nav::after {
    left: 280px;
  }
}

@media screen and (max-width: 768px) {
  section.home h2 {
    font-size: 40px;
  }
  section.home::before {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  .p-custom {
    padding-left: 144px;
  }

  .container-lg {
    max-width: 1184px;
  }
}

@media screen and (max-width: 1200px) {
  .section-heading h2 {
    font-size: 40px;
  }
  .travel .image {
    height: 697px;
    background-size: cover;
  }
  .travel .image::before {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .section-heading h2 {
    font-size: 32px;
  }
  .section-heading h3 {
    font-size: 16px;
  }
  .travel .image {
    height: 320px;
  }
}

@media screen and (min-width: 1200px) {
  .travel .right {
    width: 39%;
  }
}
