@font-face {
  font-family: "circularstd";
  src: url("assets/fonts/circularstd-book-webfont.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "circularstd";
  src: url("assets/fonts/circularstd-bold-webfont.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "circularstd";
  src: url("assets/fonts/circularstd-black-webfont.woff") format("woff");
  font-weight: 800;
}

:root {
  --bs-border-radius: 3rem;
}

body {
  font-family: "circularstd";
}

nav.navbar {
  font-size: 14px;
}

header {
  padding: 2.25rem 0;
}

nav.navbar a {
  color: #19182575;
  text-decoration: none;
  font-weight: 600;
}

nav.navbar li.active a {
  color: #191825;
}

.btn {
  --bs-btn-padding-x: 2rem;
  --bs-btn-padding-y: 0.9rem;
  font-weight: 600;
}

.btn-primary {
  --bs-btn-bg: #5d50c6;
  --bs-btn-hover-bg: #6d4db3;
  border: none;
  font-weight: 600;
  font-size: 14px;
  color: #eeeeee;
}
