table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
table {
  width: 100%;
  margin-bottom: 2rem;
}
td {
  text-align: center;
}
.space-right {
  margin-right: 1rem;
}
form div {
  width: 50%;
}
div label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
