
html{
    background-color: rgba(0, 0, 0, 0.31);
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p{
    position: absolute;
    bottom: 300px;
    font-size: 32px;
    width: 600px;
    flex-wrap: wrap;
    max-height: 200px;
    overflow-y: scroll;
}

button{
    position: absolute;
    padding: 20px;
    border: none;
    color: transparent;
    background-color: transparent;
    cursor: pointer;
}